<footer class="absolute bottom-0 w-full mt-8 p-4 text-center border">
  <p class="text-lg p-2">
    ~ What we do in life, echoes in eternity ~
  </p>
  <ul class="flex justify-center space-x-4 text-sm mt-2">
    <li><a href="#">GitHub</a></li>
    <li><a href="#">Youtube</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Facebook</a></li>
  </ul>
</footer>
